
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");

.tab-wrapper {
	width: 100%;
}
.nav-tabs li {
	width: 50%;
	font-size: 20px;
	text-align: center;
	background-color: #2a3138;
}

.nav-tabs>li>a {
	border: none;
	color: white;
	margin: 0;
	height: 50px;
	border-radius: 0;

	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-tabs>li>a:hover {
	background-color: #65C8C6;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: none;
	color: white;
	background-color: #3daaa7;
}

.tab-content {
	padding: 25px;
	background-color: #404954;
}

.tab-content p {
	color: white;
	margin: 0;
	font-size: 17px;
	line-height: 25px;
}